# Backend
NODE_ENV=development
PORT=3000

# Mongo (backend expects MONGO_URL)
MONGO_URL=mongodb://mongo:27017/expense_tracker

# Redis
REDIS_URL=redis://redis:6379

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

JWT_SECRET=change_me_in_prod
JWT_EXPIRES=7d